$background-black: rgba(22, 22, 22, 1);
$healthRed: #a50000;
$forceBlue: #004ecc;
$encGreen: #0c6013;
$white: rgba(222, 222, 222, 1);
$black: rgba(22, 22, 22, 1);
$gray: rgba(89, 89, 89, 1);

$p: 15px;
$h4: calc($p * 1.2);
$h3: calc($h4 * 1.2);
$h2: calc($h3 * 1.2);
$h1: calc($h2 * 1.2);
