h1,
h2,
h3,
h4 {
  margin: 0;
}

h1 {
  font-size: calc($h2 * 1.2);
}

h2 {
  font-size: calc($h3 * 1.2);
}

h3 {
  font-size: calc($h4 * 1.2);
}

h4 {
  font-size: calc(15px * 1.2);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 15px;
  background: #161616;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  margin: 0;
  color: #dedede;
}

#app {
  position: relative;
  height: 100%;
  width: 100%;
}

#login {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 250px;
}

.login-form input {
  font-size: 1rem;
  height: 2rem;
  width: 20rem;
  padding: 0;
  margin-bottom: 1em;
}

.login-form button {
  width: 20rem;
  padding: 1em;
}
