* {
  box-sizing: inherit;
}

html {
  font-size: 15px;
}

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20rem;

  input {
    font-size: 1rem;
    height: 2rem;
    width: 20rem;
  }
}
